In [2]:
import pandas as pd

df = pd.read_excel("./../../data/CRM_data.xlsx")

In [3]:
df.head()

,id,vorname,nachname,iban,email,customer_rating
0,0,Curt,Roskoth,DE29557982464763273025,curt.roskoth@gmx.de,7.2
1,1,Till,Klingelhöfer,DE36890407044640624074,till.klingelhöfer@gmail.com,8.4
2,2,Dora,Winkler,DE26144834913572865717,dora.winkler@web.de,6.7
3,3,Tom,Krause,DE16352804742225738584,tom.krause@aol.de,9.4
4,4,Dina,Matthäi,DE24968455090529372560,dina.matthäi@hotmail.de,9.1